body {
    height: 100vh;
    width: 100vw;
    background-image: url('https://cdn.culture.ru/images/2eead0f7-f99a-5131-b4a9-20c09c54c5d9');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.block1 {
    border-radius: 20%;
    opacity: 60%;
    justify-items: auto;
    grid-template-rows: auto;
    display: flex;
    inset-block: left;
}
.block2 {
    border-radius: 20%;
    opacity: 60%;
    justify-items: auto;
    grid-template-rows: auto;
    display: flex;
    inset-block: right;
}
.block3 {
    border-radius: 20%;
    opacity: 60%;
    justify-items: auto;
    grid-template-rows: auto;
    display: flex;
    inset-block: left;
}
